---
// web/src/pages/index.astro
import Layout from '../components/layout/Layout.astro';
import GraphView from '../components/graph/GraphView';
import graphData from '../data/vault-graph.json';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Digital Garden</title>
  </head>
  <body>
    <Layout client:load>
      <GraphView 
        client:load 
        data={graphData}
        onNodeClick={(nodeId) => {
          window.location.href = `/notes/${nodeId}`;
        }} 
      />
    </Layout>
  </body>
</html>
